/* 四個選擇框 */
.fourchoose{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
figure{
    margin: 10px 20px 10px 20px;
}
figure a{
    padding: 20px;
    margin: 10px;
}
figure a img{
    width: 60px;
    height: 60px;
    display: block;
}
.onechoose{
    display: flex;
    margin: 10px 20px 10px 20px;
}
.namechoose a{
    font-size: 25px;
    font: bold;
    text-decoration: none;
    padding:1 1 0 1 ;
    transition: .3s;
}
.namechoose a:hover{
    background-color:rgba(255, 244, 233, .4);
    color: red;
    transform: translate(0,-10px);
}
.namechoose h3{
    font-size: 30px;
}