.abcdef{
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.yyy{
    width: 500px;
    /* margin: 0 10px; */
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}
.yyy img{
    display: block;
    width:100%;
    border-radius: 5px;
}
.yyy:hover{
    transform: scale(1.3);
    z-index: 2;
}